<div class="mini-slider__wrapper mini-slider__wrapper--children-3 about__image">
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/info-girl.jpg" srcset="./img/info-girl@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/info-girl.jpg" srcset="./img/info-girl@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/info-girl.jpg" srcset="./img/info-girl@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/info-girl.jpg" srcset="./img/info-girl@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
</div>