<div class="about__image">
  <picture class='about__poster'>
    <img class="about__poster-img" src="./img/video.jpg" srcset="./img/video@2xjpg 2x" alt="">
  </picture>
  <video id="my-player" class="video-js" height="312">
    <source src="./videos/video.mp4" type="video/mp4">
    </source>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
  </video>
</div>