<div class="mini-slider__wrapper mini-slider__wrapper--children about__image">
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/children.jpg" srcset="./img/children@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/children.jpg" srcset="./img/children@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/children.jpg" srcset="./img/children@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/children.jpg" srcset="./img/children@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
</div>