<div class="mini-slider__wrapper mini-slider__wrapper--things about__image">
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/things.jpg" srcset="./img/things@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/things.jpg" srcset="./img/things@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/things.jpg" srcset="./img/things@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
  <div class="mini-slider__slide-wrapper slide">
    <picture>
      <img src="./img/things.jpg" srcset="./img/things@2x.jpg 2x" alt="" class="about__image">
    </picture>
  </div>
</div>