@mixin centered {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/*BLOCKS BEGIN*/

@mixin beforeAfter {
  content: '';
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}

@mixin picture {
  position: relative;
  width: 100%;
}

@mixin light-gray-block-before {
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  z-index: 100;
  top: -32px;
  left: 48%;
}

@mixin light-gray-block {
  margin: 0 20px;
  border-radius: 8px;
  background: $light-gray;
  position: relative;
}

@mixin light-gray-block-narrow {
  border-radius: 8px;
  background: $light-gray;
  position: relative;
}

@mixin mobile-button {
  display: block;
  border: none;
  background-color: transparent;
  width: 37px;
  height: 37px;
  position: relative;
}

@mixin mobile-block-before-icon {
  width: 11vw;
  height: 11vw;
  background-size: 11vw 11vw;
  left: 45%;
  top: -5vw;
}

@mixin mobile-middle-title {
  font-size: 6.9335vw;
  padding-left: 15vw;
  padding-right: 15vw;
  line-height: 9.5vw;
  margin-bottom: 4.7vw;
}

@mixin mobile-close-element {
  width: 5.5vw;
  height: 5.5vw;
  background-size: 5.5vw 5.5vw;
}

/*BLOCKS END*/

/*Микисины шрифтов :BEGIN*/
@mixin fontMuseoLight12 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

@mixin fontMuseoLight15 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
}

@mixin light17 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 19px;
}

@mixin fontMuseoLight16 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

@mixin fontMuseoBold16 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

@mixin fontMuseolight18 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

@mixin fontMuseoRegular20 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

@mixin fontMuseolight20 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
}

@mixin fontMuseoRegular22 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
}

@mixin fontMuseoLight22 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 25px;
}

@mixin fontMuseoRegular24 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}

@mixin fontMuseoBold24 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

@mixin fontMuseoLight24 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
}

@mixin fontMuseoLightlight26 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 28px;
}

@mixin light27 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 27px;
}

@mixin regular18 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

@mixin fontMuseolight32 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
}

@mixin fontMuseolight36 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 38px;
}

@mixin fontMuseoThin40 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 50px;
}

@mixin thin44 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 44px;
  font-weight: 100;
  line-height: 60px;
}

@mixin fontMuseoLight44 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 44px;
  font-weight: 300;
  line-height: 60px;
  text-align: center;
}

@mixin pageTitleLight50 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
}

@mixin pageTitleThin50 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 50px;
  font-weight: 100;
  line-height: 60px;
}

/*Микисины шрифтов: END*/