/*Colors*/
$light-gray: #f7f7f7;
$button-light-gray: #e3e3e3;
$button-hover-grey: #707070;
$button-active-grey: #393939;
$dark-gray: #797979;
$mini-slider-dots: #9b9b9b;
$block: #eaeaea;
$button: #9e1935;
$button-hoover-red: #87152d;
$button-focus-red: #6e1125;
$red-text: #a70033;
$blue-link: #1960d6;
$text-area_placeholder: #c1c1c1;

/*GAPS: BEGIN*/
$bottom35Gap: 35px;
/*GAPS: END*/
