/*Colors*/
$light-gray: #f7f7f7;
$gray-input-text: #7f7f7f;
$button-light-gray: #e3e3e3;
$button-hover-grey: #707070;
$button-active-grey: #393939;
$button-map-grey: #767676;
$dark-gray: #797979;
$image-background: #d9d9d9;
$mini-slider-dots: #9b9b9b;
$block: #eaeaea;
$button: #9e1935;
$button-hoover-red: #87152d;
$button-focus-red: #6e1125;
$red-text: #a70033;
$blue-link: #1960d6;
$text-area_placeholder: #c1c1c1;

/*Mobile font-sizes*/
$m-title-xs: 4.8vw;
$m-title-s: 5.867vw; //22px - 375
$m-title-m: 6.4vw; //24px - 375
$m-title-L: 6.9334vw;
$m-title-xl: 9.0667vw; //34 - 375
$m-title-xxl: 9.4vw; //36 - 375

$m-text-xxxxs: 3vw; //11px - 375
$m-text-xxxs: 3.2vw; //12px - 375
$m-text-xxs: 3.467vw;
$m-text-xs: 3.735vw;
$m-text-s: 4vw;
$m-text-m: 4.267vw; //16px - 375
$m-text-l: 4.8vw; //18px - 375

/*Tablet fonts*/
$t-text-xxs: 1vw; //10px - 800
$t-text-xs: 1.25vw; //10px - 800
$t-text-s: 1.5vw; //12px - 800
$t-text-m: 1.625vw; //13px - 800
$t-text-s: 1.5vw;
$t-text-m1: 1.75vw; //14px
$t-text-l: 1.875vw; //15px -800
$t-text-xl: 2vw; //16px -800
$t-text-xxl: 2.5vw; //16px -800

$t-title-s: 2.75vw; //22px -800
$t-title-m: 3.125vw; //25px -800


$letter-spacing-0-2: -0.025vw; //av-20
/*GAPS: BEGIN*/
$bottom35Gap: 35px;
/*GAPS: END*/