<section class="delivery-regions">
  <div class="delivery-regions__region">
    <picture class="delivery-regions__picture delivery-regions__picture--desktop"><img src="./img/delivery-moscow.jpg"
        srcset="./img/delivery-moscow@2x.jpg 2x" alt="" class="delivery-regions__image"></picture>
    <div class="delivery-regions__info">
      <h3 class="delivery-regions__title">Доставка с примеркой по Москве в пределах МКАД</h3>
      <picture class="delivery-regions__picture delivery-regions__picture--mobile"><img
          src="./img/delivery-moscow_M.jpg" srcset="./img/delivery-moscow_M@2x.jpg 2x" alt=""
          class="delivery-regions__image"></picture>
      <ul class="delivery-regions__list">
        <li class="delivery-regions__feature delivery-regions__feature--schedule">Ежедневно с 10:00 до 23.59</li>
        <li class="delivery-regions__feature delivery-regions__feature--quantuty">Максимальное количество товаров в
          одном
          заказе - 20</li>
        <li class="delivery-regions__feature delivery-regions__feature--condition">Доставка на следующий день возможна
          при
          подтверждении заказа до 18:00</li>
      </ul>
    </div>
  </div>
  <div class="delivery-regions__region">
    <picture class="delivery-regions__picture delivery-regions__picture--desktop"><img
        src="./img/delivery-moscow-region.jpg" srcset="./img/delivery-moscow-region@2x.jpg 2x" alt=""
        class="delivery-regions__image"></picture>
    <div class="delivery-regions__info">
      <h3 class="delivery-regions__title">Доставка с примеркой по Новой Москве<br class="desktop-br">
        и Московской области до 100 км от МКАД</h3>
      <picture class="delivery-regions__picture delivery-regions__picture--mobile"><img
          src="./img/delivery-moscow-region_M.jpg" srcset="./img/delivery-moscow-region_M@2x.jpg 2x" alt=""
          class="delivery-regions__image"></picture>
      <ul class="delivery-regions__list">
        <li class="delivery-regions__feature delivery-regions__feature--schedule">Ежедневно с 10:00 до 18:00</li>
        <li class="delivery-regions__feature delivery-regions__feature--quantuty">Максимальное количество товаров в
          одном
          заказе - 20</li>
        <li class="delivery-regions__feature delivery-regions__feature--condition">Доставка на следующий день возможна
          при
          подтверждении заказа до 18:00</li>
      </ul>
    </div>
  </div>
</section>