.delivery__header {
  flex-direction: column;
}

/*Верхняя часть с лого и ссылками */
.header-top__wrapper {
  padding-top: 53px;
  width: 100%;
  background-color: $light-gray;
}

.header-top {
  @include centered;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-color: $light-gray;
}

.header-top__logo {
  margin-left: 5px;
}

.header-top__burger,
.header-top__phone {
  display: none;
}

@media (max-width: 1400px) {
  .header-top {
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
}

/* Промо строка*/

.header__promo {
  display: flex;
  background-color: #544c58;
  padding: 4px 0;

  .promo__wrapper {
    @include centered;
    justify-content: center;
  }

  .promo__text {
    @include fontMuseoRegular19;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 48px;
    letter-spacing: 0.4px;
    position: relative;

    &::before {
      @include beforeAfter;
      background-image: url('../img/svg/like.svg');
      width: 26px;
      height: 57px;
      top: -3px;
      left: -35px;
    }
  }
}

@media (max-width: 1200px) {
  .header__promo {
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: center;
  }
}

/* Промо строка*/

/* Главное меню в Хедере */

.main-nav__list {
  @include centered;
  justify-content: center;
  padding: 37px 0;
}

.main-nav__item {
  padding-left: 32px;
  padding-right: 31px;
  @include fontMuseoRegular22;
  letter-spacing: 0.4px;
}

.main-nav__item:not(:first-child) {
  background-image: url('../img/separator.png');
  background-repeat: no-repeat;
}

.main-nav__link.active-link {
  color: $red-text;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Главное меню в Хедере */

/*Главное меню в Хедере - моибильная вреися: BEGIN*/

@media (max-width: 768px) {
  .header-top__wrapper {
    padding-top: 4vw;
    padding-bottom: 7vw;
  }

  .header-top {
    padding-bottom: 0;
  }

  .header-top__logo {
    margin-left: 0px;
    margin-top: 1vw;
  }

  .secondary-nav {
    display: none;
  }

  .header-top__burger,
  .header-top__phone {
    @include mobile-button;
    top: 5vw;
  }

  .header-top__burger {
    background-image: url(../img/svg/burger.svg);
    left: 5vw;
  }

  .header-top__phone {
    background-image: url(../img/svg/phone_M.svg);
    right: 5vw;
  }

  .header__nav {
    display: none;
  }

  .main-slider {
    padding-top: 0;
  }

  .header__promo {
    padding: 1vw 1vw 0vw;
  }

  .promo__text {
    padding-right: 5vw;
  }

  .header__promo .promo__text {
    margin-top: 2.5vw;
    margin-left: 14vw;
    font-size: $m-text-xxxs;
    line-height: 5vw;
    text-align: left;
    margin-bottom: 3vw;

    &::before {
      top: 1vw;
      left: -9vw;
    }
  }
}

/*Главное меню в Хедере - моибильная вреися: END*/
/*Главное меню в Хедере Планшетная версия: BEGIN*/
@media (min-width: 768px) and (max-width: 1200px) {
  .header-top__wrapper {
    box-sizing: border-box;
    padding-top: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .header-top {
    padding-bottom: 2.1vw;
  }

  .header-top__logo {
    width: 30vw;
    margin-left: 0;
  }

  .header__promo .promo__text {
    font-size: $t-text-s;
    letter-spacing: .015vw;
    margin-top: 0.8vw;
    margin-bottom: 0.75vw;
    margin-left: 2.5vw;
  }

  .header__promo .promo__text::before {
    height: 2.5vw;
    width: 2.2vw;
    background-size: 2.2vw 2.5vw;
    top: 0;
    left: -3vw;
  }

  .main-nav__list {
    padding-top: 1.3vw;
    padding-bottom: .5vw;
    margin-left: -1vw;
  }

  .main-nav__link {
    font-size: $t-text-l;
    letter-spacing: $letter-spacing-0-2;
  }

  .main-nav__item:not(:first-child) {
    background-size: 0.5vw;
    background-position-y: 0.8vw;
  }

  .main-nav__item {
    padding: 0 2.2vw;
    letter-spacing: 0.14vw;
  }
}