/*Стили для печати PVZ карты*/
@media print {
  body>section {
    display: none !important;
  }

  .delivery__header,
  .delivery-footer {
    display: none !important;
  }

  .print {
    display: flex !important;
    margin: 0;
    width: 100%;
    height: auto;



    .map-buttons,
    .address__manager,
    .address__list {
      display: none !important;
    }


  }

  .address__map-wrapper {
    display: flex !important;
    width: 100% !important;
  }


}



/*Стили для печати PVZ карты*/