.photo-slider {
  display: flex;
  flex-direction: column;
  position: relative;

  .video-button {
    width: 84px;
    height: 84px;
    background-size: 84px 84px;
  }

  &--popup {
    z-index: 1705;

    .photo-slider__text,
    .photo-slider__title,
    .close-element {
      display: none;
    }
  }

  .hidden {
    display: none;
  }

  .vjs-tech {
    width: 100%;
    height: 100%;
  }

  .tns-controls button:first-child,
  .tns-controls button:last-child {
    position: absolute;
    top: 40%;
    width: 94px;
    height: 94px;
    border: none;
    font-size: 0;
    background-color: transparent;
    background-image: url('../img/svg/arrow-in-circle.svg');
    z-index: 1500;
    outline: none;
  }

  .tns-controls button:first-child {
    left: 29px;
  }

  .tns-controls button:last-child {
    right: 29px;
    transform: rotate(180deg);
  }

  .tns-outer {
    position: relative;

    .tns-inner {
      margin: auto !important;
    }

    &--popup {
      width: 38%;
      z-index: 15000;
      margin: 0 auto;
      position: fixed;
      top: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .tns-controls button:first-child {
        left: -29vw;
      }

      .tns-controls button:last-child {
        right: -29vw;
      }
    }


  }

  .tns-liveregion,
  .tns-nav {
    display: none;
  }

  .tns-ovh {
    overflow: hidden;
    position: relative;

    &::before {
      @include beforeAfter;
      position: absolute;
      width: 12.5%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 0.5;
      z-index: 1000;
    }

    &::after {
      @include beforeAfter;
      position: absolute;
      width: 12.5%;
      height: 100%;
      top: 0;
      right: 0;
      opacity: 0.5;
      z-index: 1000;
      background-color: white;
    }

    &--popup {
      display: flex;
      //height: 100vh;

      &::after,
      &::before {
        display: none;
      }
    }
  }
}

.photo-slider__title {
  @include centered;
  @include fontMuseoLight44;
  text-align: left;
  padding-bottom: 30px;
}

.photo-slider__item {
  display: inline-block;
  position: relative;
}

.photo-slider__picture {
  display: flex;
  justify-content: center;
}

.photo-slider__image {
  padding: 0 5px;
  box-sizing: border-box;
}

.photo-slider__text {
  @include centered;
  @include fontMuseoLight22;
  text-align: center;
  width: auto;
  max-width: 100%;
  line-height: 35px;
  margin: 20px 20px 0 20px;
  padding: 50px 10% 55px;
  background-color: $light-gray;
  display: block;
}

.photo-slider__text-line {
  margin: 0;
}

/*Планшетная версия: BEGIN*/
@media (min-width: 768px) and (max-width: 1200px) {
  .photo-slider__title {
    padding-left: 4vw;
    padding-bottom: 0vw;
    font-size: $t-title-s;
  }

  .photo-slider {

    .tns-outer {
      width: 118%;
      transform: translateX(-7%);

      &--popup {
        width: 60%;
      }
    }

    .tns-controls {
      display: none;
    }
  }

  .photo-slider__text {
    font-size: $t-text-m1;
    line-height: 2.5vw;
    padding-top: 2.5vw;
    padding-bottom: 3.5vw;
  }

}

/*Планшетная версия: END*/

/*Мобильная версия: BEGIN*/
@media (max-width: 768px) {
  .photo-slider {
    .tns-controls {
      display: none;
    }

    .tns-ovh {

      &::before,
      &::after {
        display: none;
      }
    }

    .tns-outer {
      &--popup {
        width: 90%;

        .tns-inner {
          width: 100%;
        }
      }

      .tns-nav {
        display: none;
      }
    }

    .tns-inner {
      width: 87%;
    }

    .tns-nav {
      display: flex;
      position: absolute;
      bottom: -3vw;
      left: 0;
      width: 100%;
      justify-content: center;

      button {
        @include sliderButton;
      }

      .tns-nav-active {
        opacity: 1;
      }
    }

    .photo-slider__text {
      font-size: $m-text-s;
      padding: 9vw 2vw;
      line-height: 6.5vw;
      padding-bottom: 5vw;
    }
  }

  .photo-slider__title {
    font-size: $m-title-m;
    line-height: 9.5vw;
    padding: 6vw 6.5vw 5vw;
  }

  .photo-slider__image {
    padding: 0 1vw;
  }

}

/*Мобильная версия: END*/