<section class="photo-slider fade-block">
  @@include("../close-element/close-element-front.html")
  <h1 class="photo-slider__title">Съёмка одежды для&nbsp;интернет-магазина</h1>
  <div class="photo-slider__slider">

    <img src="./img/cloth1.jpg" srcset="./img/cloth1@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth2.jpg" srcset="./img/cloth2@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth1.jpg" srcset="./img/cloth1@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth2.jpg" srcset="./img/cloth2@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">

  </div>
  <div class="photo-slider__text">
    <p class="photo-slider__text-line">Стандартная съёмка одной вещи обыкновенно включает фото общего плана,</p>
    фото в приближении в нескольких ракурсах, товар отдельно на манекене,
    несколько фото деталей и короткий видеоролик. Ниже&nbsp;примеры фото различного типа.
    </p>
  </div>
</section>