<div class="photo-slider">
  @@include("../close-element/close-element.html")
  <h1 class="photo-slider__title">Съёмка одежды для интернет-магазина</h1>
  <div class="photo-slider__slider">

    <img src="./img/thing1.jpg" srcset="./img/thing1@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/thing2.jpg" srcset="./img/thing2@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/thing3.jpg" srcset="./img/thing3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/thing1.jpg" srcset="./img/thing1@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/thing2.jpg" srcset="./img/thing2@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/thing3.jpg" srcset="./img/thing3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/thing3.jpg" srcset="./img/thing3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/thing3.jpg" srcset="./img/thing3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/thing3.jpg" srcset="./img/thing3@2x.jpg 2x" alt="" class="photo-slider__image">

  </div>
  <div class="photo-slider__text">
    <p class="photo-slider__text-line">Стандартная съёмка одной вещи обыкновенно включает фото общего плана,
    </p>
    <p class="photo-slider__text-line">фото в приближении в нескольких ракурсах, товар отдельно на манекене,
    </p>
    <p class="photo-slider__text-line">несколько фото деталей и короткий видеоролик. Ниже примеры фото различного типа.
    </p>
  </div>
</div>