<div class="photo-slider">
  @@include("../close-element/close-element.html")
  <h1 class="photo-slider__title">Съёмка одежды для интернет-магазина</h1>
  <div class="photo-slider__slider">

    <img src="./img/cloth1.jpg" srcset="./img/cloth1@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth2.jpg" srcset="./img/cloth2@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth1.jpg" srcset="./img/cloth1@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth2.jpg" srcset="./img/cloth2@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">
    <img src="./img/cloth3.jpg" srcset="./img/cloth3@2x.jpg 2x" alt="" class="photo-slider__image">

  </div>
  <p class="photo-slider__text">Стандартная съёмка одной вещи обыкновенно включает фото общего плана,
    фото в приближении в нескольких ракурсах, товар отдельно на манекене,
    несколько фото деталей и короткий видеоролик. Ниже примеры фото различного типа.</p>
</div>