.advantages {
  background: $light-gray;
  @include light-gray-block;
  padding-top: 50px;
  padding-bottom: 70px;
  z-index: 10;

  &::before {
    @include beforeAfter;
    @include light-gray-block-before;
    background-image: url('../img/svg/star.svg');
  }
}

.advantages__wrapper {
  @include centered;
  flex-direction: column;
  text-align: center;
}

.advantages__title {
  @include fontMuseoLight44;
  letter-spacing: -0.7px;
  margin-bottom: 35px;
}

.advantages__text {
  @include fontMuseoLight22;
  letter-spacing: unset;
  line-height: 33.5px;
  margin: 0;
}

.advantages__button {
  margin: 28px auto 0;
  padding: 15px 10px;
  display: block;
  min-width: 32.5%;
}

@media (max-width: 768px) {
  .advantages {
    margin: 0;
    padding-top: 10vw;
    padding-bottom: 13vw;

    &::before {
      width: 11vw;
      height: 11vw;
      background-size: 11vw 11vw;
      left: 45%;
      top: -5vw;
    }
  }

  .advantages__title {
    @include mobile-middle-title;
  }

  .advantages__text {
    font-size: 4.265vw;
    padding-left: 5vw;
    padding-right: 5vw;
    line-height: 6.5vw;
  }

  .advantages__button {
    max-width: 100%;
    margin: 0 5vw;
    max-width: 100%;
    margin: 0 7vw;
    font-size: 4.25vw;
    line-height: 4.5vw;
    margin-top: 7vw;
  }

}

/*Стили для Паншетов: BEGIN*/
@media (min-width: 768px) and (max-width: 1200px) {
  .advantages {
    padding-top: 1.5vw;
    padding-bottom: 3vw;
  }

  .advantages::before {
    @include sectionIcon;
  }

  .advantages__title {
    font-size: $t-title-m;
    margin-bottom: 0vw;
    line-height: 4vw;
    padding-top: 1.75vw;
    letter-spacing: -.05vw;
  }

  .advantages__text {
    font-size: $t-text-m1;
    padding: 0 12vw;
    line-height: 2.7vw;
    padding-top: 1vw;
  }

  .advantages__button {
    margin-top: 2.5vw;
    font-size: $t-text-m;
    padding: 0.4vw 7vw;
    min-width: unset;
  }
}