<section class="advantages">
  <div class="advantages__wrapper">
    <h2 class="advantages__title">Преимущества работы с нами</h2>
    <p class="advantages__text">У вас есть интернет-магазин, но нет собственной курьерской доставки?</p>
    <p class="advantages__text">Предлагаем воспользоваться нашим надежным и качественным сервисом доставки по Москве и
      Московской области. </p>
    <p class="advantages__text">Наша курьерская служба располагает собственным автопарком, а ее сотрудники всегда
      вежливы,
      пунктуальны</p>
    <p class="advantages__text">и аккуратны. Доставка осуществляется каждый день без выходных, в трехчасовые интервалы,
      с
      10.00 до 00.00.</p>
    <p class="advantages__text">Работаем по договору, с гарантией!</p>
    <button class="advantages__button">Оформить заявку</button>
  </div>
</section>