.request-form__fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  padding-bottom: 35px;
  padding-top: 30px;
}

.request-form__popup .request-form__fieldset {
  padding-bottom: 20px;
  padding-bottom: 25px;
}

.request-form__wrapper {
  @include centered;
  flex-direction: column;
}

.request-form__input {
  width: 30.5%;
  display: flex;
  padding: 25px 1% 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: 0;
  @include fontMuseoRegular20;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);

  &:active {
    border: 1px solid #e5e5e5;
  }

  &:focus {
    border: 1px solid #e5e5e5;

    &::placeholder {
      font-weight: 500;
    }
  }

  &:hover {
    border: 1px solid #e5e5e5;
    outline: 0;
  }
}

.request-form__input::placeholder {
  @include fontMuseolight20;
}

.request-form__input {}

@media (max-width: 1400px) {
  .request-form__input {
    width: 29.5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  }

  .request-form__wrapper {
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media (max-width: 768px) {
  .request-form__fieldset {
    flex-direction: column;
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
  }

  .request-form__title {
    margin-bottom: 5.7vw;
  }

  .request-form__input {
    width: 100%;
    padding: 0;
    padding-left: 4vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 4vw;
    box-sizing: border-box;

    &::placeholder {
      font-size: 4.267vw;
      line-height: 5.5vw;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .request-form__input {
    font-size: $t-text-s;
    padding: 1vw 0.75vw 0.6vw 0.75vw;

    &::placeholder {
      font-size: $t-text-s;
    }
  }
}