<section class="conditions">
  <div class="conditions__item conditions__item--yes">
    <h3 class="conditions__title">Что мы доставляем</h3>
    <p class="conditions__text">Мы доставляем одежду, аксессуары,<br>
      косметику, парфюмерию<br>
      и малоразмерные товары для дома</p>
  </div>
  <div class="conditions__item conditions__item--no">
    <h3 class="conditions__title">Чего мы не доставляем</h3>
    <p class="conditions__text">Мы не доставляем продукты питания,
      медикаменты, изделия из драгоценных металлов,
      алкоголь, табачную продукцию</p>
  </div>
</section>