.button-more {
  padding: 15px 16px;
  display: block;
  text-align: center;
  border: 1px solid #707070;
  background: #F7F7F7;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 15px;

  &:hover {
    background-color: $button-hover-grey;
  }

  &:focus {
    background-color: black;
    color: white;
  }
}