<section class="price">
  <h2 class="price__title">Цены</h2>
  <div class="price__header">
    <p class="price__title-less30 price__header-title">Менее 30 вещей</p>
    <p class="price__title-more30 price__header-title">Более 30 вещей</p>
  </div>
  <div class="price__row">
    <picture class="price__picture">
      <img src="./img/price1.jpg" srcset="./img/price1@2x.jpg" alt="" class="price__img">
    </picture>
    <p class="price__description">Модельная съёмка для каталога
      с лицом в кадре вместе с видео
      и с фото на манекене</p>
    <div class="price__price-less30 price__container">
      <span class="price__price">956 руб за вещь</span><span class="price__annotation">Включая фото на манекене отпарку,
        ретушь и цветокоррекцию<br> Участие модели и визажиста оплачиваются отдельно</span></div>
    <div class="price__price-more30 price__container"><span class="price__price">788 руб за вещь</span><span
        class="price__annotation">Включая фото на манекене отпарку, ретушь и цветокоррекцию<br>
        Участи модели и визажиста оплачиваются отдельно</span>
    </div>
  </div>
  <div class="price__row">
    <picture class="price__picture">
      <img src="./img/price2.jpg" srcset="./img/price2@2x.jpg" alt="" class="price__img">
    </picture>
    <p class="price__description">Модельная съёмка для каталога
      без лица в кадре вместе с видео
      и с фото на манекене</p>
    <div class="price__price-less30 price__container">
      <span class="price__price">913 руб за вещь</span><span class="price__annotation">Включая фото на манекене отпарку,
        ретушь и цветокоррекцию<br>
        Участи модели и визажиста оплачиваются отдельно</span></div>
    <div class="price__price-more30 price__container"><span class="price__price">749 руб за вещь</span><span
        class="price__annotation">Включая фото на манекене отпарку, ретушь и цветокоррекцию<br>
        Участи модели и визажиста оплачиваются отдельно</span>
    </div>
  </div>
  <div class="price__row">
    <picture class="price__picture">
      <img src="./img/price3.jpg" srcset="./img/price3@2x.jpg" alt="" class="price__img">
    </picture>
    <p class="price__description">Детская съёмка с лицом в кадре
      вместе с видео и с фото на манекене</p>
    <div class="price__price-less30 price__container">
      <span class="price__price">956 руб за вещь</span><span class="price__annotation">Включая фото на манекене отпарку,
        ретушь и цветокоррекцию<br>
        Участи модели и визажиста оплачиваются отдельно</span></div>
    <div class="price__price-more30 price__container"><span class="price__price">788 руб за вещь</span><span
        class="price__annotation">Включая фото на манекене отпарку, ретушь и цветокоррекцию<br>
        Участи модели и визажиста оплачиваются отдельно</span>
    </div>
  </div>
  <div class="price__row">
    <picture class="price__picture">
      <img src="./img/price4.jpg" srcset="./img/price4@2x.jpg" alt="" class="price__img">
    </picture>
    <p class="price__description">Предметная съёмка для каталога
    </p>
    <div class="price__price-less30 price__container">
      <span class="price__price">956 руб за вещь</span><span class="price__annotation">Включая фото на манекене отпарку,
        ретушь и цветокоррекцию<br>
        Участи модели и визажиста оплачиваются отдельно</span></div>
    <div class="price__price-more30 price__container"><span class="price__price">788 руб за вещь</span><span
        class="price__annotation">Включая фото на манекене отпарку, ретушь и цветокоррекцию<br>
        Участи модели и визажиста оплачиваются отдельно</span>
    </div>
  </div>
</section>