<section class="request-form ">
  <div class="request-form__wrapper">
    <h2 class="request-form__title">Воспользуйтесь формой заявки</h2>
    <p class="request-form__info">Узнайте больше! Будем рады подробнее рассказать о нашем сервисе и ответить на
      вопросы
    </p>
    <form action="" class="request-form__form">
      @@include("../../components/form-inputs/form-inputs.html")
      <textarea class="request-form__question request-form__input " name="question" id="" cols="30" rows="4"
        placeholder="Вопрос или сообщение"></textarea>
      <button class="request-form__submit">Отправить заявку</button>
    </form>
    <p class="request-form__sub-info">Нажимая кнопку, вы даёте согласие на обработку персональных данных в соответствии
      с
      условиями <a class="request-form__link">соглашения</a></p>
  </div>
</section>