.request-form {
  @include light-gray-block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 55px;
  position: relative;
  margin-top: 80px;

  &::before {
    @include beforeAfter;
    @include light-gray-block-before;
    background-image: url('../img/svg/check.svg');
  }

  .request-form__question {
    @include fontMuseoRegular20;
    width: 96%;
    padding: 15px 25px;
    margin-bottom: 30px;
  }
}

.request-form__question::placeholder {
  color: $text-area_placeholder;
}

.request-form__title {
  @include fontMuseoLight44;
}

.request-form__info {
  @include fontMuseoRegular24;
}

.request-form__submit {
  width: 33%;
  margin: 0 auto;
  @include fontMuseoRegular22;
  color: #ffffff;
  padding: 17px 20px;
  background-color: $button;
  border: none;
  margin-bottom: 30px;
}

.request-form__link {
  color: $blue-link;
}

.request-form__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.request-form__popup {
  box-sizing: border-box;
  display: none;
  position: fixed;
  width: 75%;
  padding: 50px 2%;
  max-width: 1280px;
  top: 50%;
  left: 50%;
  transform: translate(-50.1%, -50.1%);
  opacity: 0;
  z-index: 105000;
  transition: all 1s ease 0s;

  &::before {
    display: none;
  }

  .request-form__close {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('../img/svg/close.svg');
    background-size: 30px 30px;
    right: 20px;
    top: 20px;
    left: unset;
  }
}



@media (max-width: 768px) {
  .request-form {
    margin: 0;
    padding-top: 10vw;
    padding-bottom: 7vw;

    &::before {
      @include mobile-block-before-icon;
    }
  }

  .request-form__form {
    padding: 0 5.5vw;
    padding-bottom: 0vw;
    padding-top: 0vw;
  }

  .request-form__title {
    @include mobile-middle-title;
    margin-bottom: 1vw;
  }

  .request-form__info {
    font-size: $m-text-m;
    padding: 0 6.8vw;
  }

  .request-form__submit {
    @include fontMuseoBold16;
    width: 100%;
    box-sizing: border-box;
    font-size: 4.25vw;
    line-height: 3vw;
    margin-bottom: 5vw;
  }

  .request-form__sub-info {
    margin: 0;
    font-size: 3.5vw;
    line-height: 5.8vw;
  }

  .request-form__question {
    display: none;
  }

  .request-form__popup {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 9vw 5.5vw;

    .close-element {
      @include mobile-close-element;
      top: 7vw;
      right: 7vw;
    }

    .request-form__title {
      font-size: 9.066vw;
      font-weight: 100;
      text-align: left;
      padding-left: 0;
      line-height: 10.5vw;
      margin-top: -2vw;
    }

    .request-form__info {
      text-align: left;
      font-weight: 300;
      font-size: 4vw;
      line-height: 6.5vw;
      margin-top: -2vw;
      margin-bottom: 6vw;
    }

    .request-form__fieldset {
      padding-bottom: 1vw;
      width: 100%;
      font-size: 4vw;
    }

    .request-form__question {
      display: block;
      padding: 2vw 4vw 7vw;
      width: 100%;
      letter-spacing: 0;
      font-size: 4.267vw;
      margin-bottom: 5vw;
      color: $gray-input-text;
    }

    .request-form_sub-info {
      font-size: 3.467vw;
      padding: 0 2.5vw;
      margin: 0;
    }
  }
}

/*Стили для Паншетов: BEGIN*/
@media (min-width: 768px) and (max-width: 1200px) {
  .request-form {
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 1vw;

    &::before {
      @include sectionIcon;
    }
  }

  .request-form__title {
    font-size: $t-title-m;
    line-height: 4vw;
  }

  .request-form__info {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: $t-text-m1;
  }

  .request-form__fieldset {
    padding-top: 0.2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 1.8vw;
  }

  .request-form__submit {
    font-size: $t-text-m;
    padding: 0.5vw;
    margin-bottom: 1vw;
    width: 29%;
  }

  .request-form__sub-info {
    font-size: $t-text-xs;
  }

  .request-form .request-form__question {
    margin-left: 5vw;
    width: 80.75vw;
    height: 5.5vw;
    margin-top: -1vw;
    padding: 1vw;
    margin-bottom: 2vw;

    &::placeholder {
      font-size: $t-text-m;
    }
  }
}