<section class="about">
  <div class="about-wrapper">
    <div class="about__item about__item--4">
      @@include("../mini-slider/mini-slider__clothes.html")
      <h3 class="about__title">Съёмка одежды</h3>
      <p class="about__text">Определяем стилистику, подбираем фон, приглашаем модель и стилиста, снимаем, ретушируем и
        всё готово.</p>
      <a href="" class="about__link button-more">Подробнее</a>
    </div>
    <div class="about__item about__item--4">
      @@include("../mini-slider/mini-slider__things.html")
      <h3 class="about__title">Предметная съёмка</h3>
      <p class="about__text">Как правило выполняется на белом фоне
        в нескольких ракурсах. Важно показать
        товар со всех сторон и изнутри.</p>
      <a href="" class="about__link button-more">Подробнее</a>
    </div>
    <div class="about__item about__item--4">
      @@include("../mini-slider/mini-slider__children.html")
      <h3 class="about__title">Детская съёмка</h3>
      <p class="about__text">Определяем стилистику, подбираем фон,
        приглашаем модель и стилиста, снимаем, ретушируем и всё готово.</p>
      <a href="" class="about__link button-more">Подробнее</a>
    </div>
    <div class="about__item about__item--4">
      @@include("../mini-slider/mini-slider__video.html")
      <h3 class="about__title">Видео </h3>
      <p class="about__text">Подойдет для Инстаграма. Выбираем
        сюжет, вместе со стилистом определяемся с реквизитом, снимаем, ретушируем.</p>
      <a href="" class="about__link button-more">Подробнее</a>
    </div>
  </div>
</section>