<section class="about">
  <div class="about-wrapper">
    <div class="about__item">
      <picture>
        <img src="./img/delivery.jpg" srcset="./img/delivery@2x.jpg 2x" alt="" class="about__image">
      </picture>
      <h3 class="about__title">Доставка с примеркой</h3>
      <p class="about__text">Самостоятельно заберем заказы ваших&nbsp;покупателей, аккуратно упакуем и доставим
        по адресу в срок</p>
      <a href="" class="about__link">Подробнее</a>
    </div>
    <div class="about__item">
      <picture>
        <img src="./img/pvz.jpg" srcset="./img/pvz@2x.jpg 2x" alt="" class="about__image">
      </picture>
      <h3 class="about__title">Пункты выдачи</h3>
      <p class="about__text">Ваши клиенты могут забрать свои заказы<br>
        из наших пунктов выдачи, расположенных<br>
        в разных районах Москвы</p>
      <a href="" class="about__link">Подробнее</a>
    </div>
    <div class="about__item">
      <picture>
        <img src="./img/store.jpg" srcset="./img/store@2x.jpg 2x" alt="" class="about__image">
      </picture>
      <h3 class="about__title">Упаковка</h3>
      <p class="about__text">Бережно оформим каждый заказ, предложив различные варианты упаковки, в соответствии<br>
        с габаритами и типом товара</p>
      <a href="" class="about__link">Подробнее</a>
    </div>
  </div>
</section>