.about {
  padding-top: 10px;
  padding-bottom: 100px;
  z-index: 5;
}

.about-wrapper {
  @include centered;
  justify-content: space-between;
}

.about__item {
  width: 32.9%;
  display: flex;
  flex-direction: column;
}

.about__image {
  width: 100%;
}

.about__title {
  @include fontMuseolight32;
  text-align: center;
  padding-top: 32px;
}

.about__text {
  @include light17;
  text-align: center;
  line-height: 28px;
}

.about__link {
  min-width: 71%;
}