<section class="main-maps">
  <div class="main-maps__item">
    <h2 class="main-maps__title">Область доставки</h2>
    <div class="main-maps__buttons">
      <button class="main-maps__button main-maps__button--expand">Развернуть</button>
      <button class="main-maps__button main-maps__button--print">На печать</button>
    </div>
    <div class="main-maps__map-wrapper">
      <img src="./img/map1.jpg" alt="" class="main-maps__image">
    </div>
  </div>
  <div class="main-maps__item">
    <h2 class="main-maps__title">Пункты выдачи</h2>
    <div class="main-maps__buttons">
      <button class="main-maps__button main-maps__button--expand">Развернуть</button>
      <button class="main-maps__button main-maps__button--print">На печать</button>
    </div>
    <div class="main-maps__map-wrapper">
      <img src="./img/map2.jpg" alt="" class="main-maps__image">
    </div>
  </div>
</section>