.main-maps {
  @include centered;
  text-align: center;
  padding-top: 50px;
  justify-content: space-between;
  padding-bottom: 60px;
  position: relative;
}

.main-maps__item {
  width: 49%;
  position: relative;
}

.main-maps__title {
  @include fontMuseolight32;
  margin-bottom: 25px;
}


.main-maps__map-wrapper {
  padding-top: 25px;
  width: 100%;
  position: relative;
}

.main-maps__image {
  width: 100%;
}