<ul class="secondary-nav">
  <li class="secondary-nav__item">
    <a href="#" class="secondary-nav__link" alt="Телефон">
      <span class="secondary-nav__text">8-905-779-62-32</span>
    </a>
  </li>
  <li class="secondary-nav__item">
    <a href="address.html" class="secondary-nav__link" alt="Адрес">
      </svg>
      <span class="secondary-nav__text">Адрес</span>
    </a>
  </li>
  <li class="secondary-nav__item">
    <a href="#" class="secondary-nav__link" alt="Задать вопрос">
      <span class="secondary-nav__text">Задать вопрос</span>
    </a>
  </li>
  <li class="secondary-nav__item">
    <a href="prices.html" class="secondary-nav__link" alt="Цены">
      <span class="secondary-nav__text">Цены</span>
    </a>
  </li>
</ul>