<section class="top-info-block">
  @@include("../close-element/close-element.html")
  <h2 class="top-info-block__title">Упаковка</h2>
  <picture>
    <source media="(max-width: 768px)" srcset="./img/packing_M.jpg 1x, ./img/packing_M@2x.jpg 2x">
    <img src="./img/package.jpg" srcset="./img/package@2x.jpg 2x" alt="Доставка с примеркой"
      class="top-info-block__image"></picture>
  <div class="top-info-block__info">
    <h3 class="top-info-block__sub-title">Процесс</h3>
    <p class="top-info-block__text">Мы предлагаем большое количество решений для упаковки товаров: коробки различных
      габаритов и кофры. В каждом заказе на дне коробки находятся памятка для обмена/возврата и пакет с ручкой. Товар
      завернут в пергамент, по несколько вещей в одной стопке. Верхняя одежда (пальто, куртки, пуховики, жакеты,
      пиджаки, костюмы) отправляется на вешалках ИБ или фирменных от производителя. Хрупкий товар упакован с
      наполнителем и красной наклейкой. Весь процесс упаковки разделен на несколько этапов и происходит по
      видеонаблюдением службы безопасности.</p>
  </div>
</section>