<section class="top-info-block">
  @@include("../close-element/close-element.html")
  <h2 class="top-info-block__title">Пункты выдачи заказов</h2>
  <picture><img src="./img/pvz-wide.jpg" srcset="./img/pvz-wide@2x.jpg 2x" alt="Доставка с примеркой"
      class="top-info-block__image"></picture>
  <div class="top-info-block__info">
    <h3 class="top-info-block__sub-title">Как устроен сервис</h3>
    <p class="top-info-block__text">Клиенты вашего онлайн-магазина могут самостоятельно забрать свой заказ в одном из
      наших
      пунктов самовывоза, расположенных в различных районах Москвы, в том числе в историческом центре на Красной
      площади. Пункты выдачи заказов работают
      с 9.00 до 21.00, ежедневно, без выходных. Максимальное количество товаров в одном заказе, выдаваемом через пункт,
      не должно превышать 20. Срок хранения заказа – двое суток, с возможностью пролонгации через call-центр еще на 1
      сутки.
      Все пункты выдачи оборудованы комфортными примерочными.</p>
  </div>
</section>