.delivery-map {
  @include centered;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 90px;
  position: relative;

  .map-buttons {
    margin: 0 auto;
  }
}

.delivery-map__title {
  @include fontMuseoLight44;
  text-align: center;
  padding-bottom: 15px;
}

.delivery-map__map-wrapper {
  padding-top: 25px;
}

.delivery-map__map,
.delivery-map__map,
.address__map {
  width: 100%;
  height: 700px;
  padding: 0;
  margin: 0;
}

.main-map__pvz,
.main-map__range {
  width: 100%;
  height: 462px;
  padding: 0;
  margin: 0;
}

.delivery-map__map canvas,
.delivery-map__map-wrapper canvas,
.address__map canvas,
.main-map__pvz canvas,
.main-map__range canvas {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
}

.ymaps-2-1-75-map {
  width: 100% !important;
  height: 100% !important;
}

.expanded {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 70vh;
  background: #fefefe;
  z-index: 10001;
  padding: 4%;

  .ymaps-2-1-75-map {
    height: 100% !important;
  }
}

@media (max-width: 768px) {
  .delivery-map {
    padding-top: 0;
    padding-bottom: 11vw;
  }

  .delivery-map__title {
    font-size: 6.15vw;
    line-height: 7vw;
    padding-top: 8vw;
  }

  .delivery-map__map-wrapper {
    box-sizing: border-box;
    padding: 4.2vw;
  }

  .delivery-map__map {
    height: 90.5vw;
  }

  .expanded.expandable {
    padding: 0;
    padding-top: 17vw;
    padding-bottom: 9vw;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    .ymaps-2-1-75-map {
      width: 100%;
    }
  }
}

/*Планшетная версия: BEGIN*/
@media (min-width: 768px) and (max-width: 1200px) {
  .map-buttons__button {
    font-size: $t-text-xs;
    margin-left: 1vw;
  }

  .map-buttons {
    padding-top: 0.8vw;
    padding-bottom: 1.5vw;
  }

  .map-buttons__button--expand::before {
    width: 1.4vw;
    height: 1.4vw;
    background-size: 1.4vw;
    left: 1vw;
  }

  .map-buttons__button--print::before {
    width: 1.8vw;
    height: 2vw;
    background-size: 1.8vw 2vw;
    left: 1vw;
    top: -0.2vw;
  }
}

/*Планшетная версия: BEGIN*/
@media (min-width: 768px) and (max-width: 1200px) {
  .address__map {
    height: 50vw;
  }
}