@import "modules/header/header";
@import "modules/footer/footer";
@import "components/request-form/request-form";
@import "components/secondary-nav/secondary-nav.scss";
@import "components/main-slider/main-slider.scss";
@import "components/about/about.scss";
@import "components/advantages/advantages.scss";
@import "components/main-maps/main-maps.scss";
@import "components/form-inputs/form-inputs.scss";
@import "components/overlay/overlay.scss";
@import "components/top-info-blocks/top-info-blocks.scss";
@import "components/close-element/close-element.scss";
@import "components/conditions/conditions.scss";
@import "components/delivery-regions/delivery-regions.scss";
@import "components/maps/maps.scss";
@import "components/map-buttons/map-buttons.scss";
@import "components/info-block/info-block.scss";
@import "components/button-more/button-more.scss";
@import "components/moscow-pvz/moscow-pvz.scss";
@import "components/points/points.scss";
@import "components/prices/prices.scss";
@import "components/address/address.scss";
@import "components/red-button/red-button.scss";
@import "components/mini-slider/mini-slider.scss";
@import "components/examples/examples.scss";
@import "components/examples/examples-owl.scss";
@import "components/photo-slider/photo-slider.scss";
@import "components/photos/photos.scss";
@import "components/photo-price/price.scss";