<section class="moscow-pvz">
  <h2 class="moscow-pvz__title">Адреса в Москве</h2>
  <p class="moscow-pvz__additional-info">В данный момент можно воспользоваться 5 пунктами в Москве и области</p>
  <div class="moscow-pvz__addresses">
    <div class="moscow-pvz__pvz">
      <picture class="moscow-pvz__pic"><img src="./img/gum.jpg" srcset="./img/gum@2x.jpg" alt="ГУМ"
          class="moscow-pvz__image"></picture>
      <div class="moscow-pvz__info">
        <h2 class="moscow-pvz__mall">ГУМ</h2>
        <p class="moscow-pvz__address">Красная площадь, 3,<br> ГУМ, 2 этаж, 1 линия
        </p>
        <a href="#" class="moscow-pvz__link">На карте</a>
      </div>
    </div>
    <div class="moscow-pvz__pvz">
      <picture class="moscow-pvz__pic"><img src="./img/smolenka.jpg" srcset="./img/smolenka@2x.jpg" alt="Смоленский
        Пассаж" class="moscow-pvz__image"></picture>
      <div class="moscow-pvz__info">
        <h2 class="moscow-pvz__mall">Смоленский<br>Пассаж
        </h2>
        <p class="moscow-pvz__address">Смоленская площадь, 3</p>
        <a href="#" class="moscow-pvz__link">На карте</a>
      </div>
    </div>
    <div class="moscow-pvz__pvz">
      <picture class="moscow-pvz__pic"><img src="./img/vesna.jpg" srcset="./img/vesna@2x.jpg" alt="ТЦ ВЕСНА"
          class="moscow-pvz__image"></picture>
      <div class="moscow-pvz__info">
        <h2 class="moscow-pvz__mall">ВЕСНА</h2>
        <p class="moscow-pvz__address">Новый Арбат, 19</p>
        <a href="#" class="moscow-pvz__link">На карте</a>
      </div>
    </div>
    <div class="moscow-pvz__pvz">
      <picture class="moscow-pvz__pic"><img src="./img/savvinka.jpg" srcset="./img/savvinka@2x.jpg" alt="Саввинка"
          class="moscow-pvz__image"></picture>
      <div class="moscow-pvz__info">
        <h2 class="moscow-pvz__mall">Саввинка</h2>
        <p class="moscow-pvz__address">Саввинская наб, 12,
          стр. 10 Б</p>
        <a href="#" class="moscow-pvz__link">На карте</a>
      </div>
    </div>
    <div class="moscow-pvz__pvz">
      <picture class="moscow-pvz__pic"><img src="./img/vnukovo.jpg" srcset="./img/vnukovo@2x.jpg"
          alt="Vnukovo Outlet Village" class="
          moscow-pvz__image"></picture>
      <div class="moscow-pvz__info">
        <h2 class="moscow-pvz__mall">Vnukovo Outlet Village</h2>
        <p class="moscow-pvz__address">27-й км.<br>
          Киевского шоссе</p>
        <a href="#" class="moscow-pvz__link">На карте</a>
      </div>
    </div>
  </div>
</section>