.close-element {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/svg/close.svg');
  background-size: 30px 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  right: 20px;
  top: 20px;
  left: unset;

  &--popup {
    background-image: url('../img/svg/close-popup.svg');
    width: 94px;
    height: 94px;
    background-size: 94px;
    right: 3vw;
    top: 3vw;
  }
}

.close-element--hidden {
  display: none;

}

.close-element--visible {
  display: block;
}

@media(max-width: 768px) {
  .close-element {
    &--popup {
      width: 12vw;
      height: 12vw;
      background-size: 12vw;
    }
  }
}