.address {
	@include centered;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 75px;
	position: relative;
}

.address__title {
	@include pageTitleThin50;
}

.address__manager {
	display: flex;
	padding-top: 70px;
	width: 30%;
}

.address__profile {
	padding-top: 20px;
	padding-left: 6%;
	display: flex;
	flex-direction: column;
}

.address__name {
	@include fontMuseoRegular24;
	color: $red-text;
}

.address__position {
	@include fontMuseoLight22;
	line-height: 30px;
	padding-top: 15px;
}

.address__list {
	padding-top: 40px;
	padding-bottom: 30px;
	@include fontMuseoLight22;
}

.address__item {
	padding-left: 5%;
	margin-bottom: 25px;
	position: relative;

	b {
		font-weight: 700;
	}

	&::before {
		@include beforeAfter;
		width: 40px;
		height: 40px;
		top: -4px;
		left: 0%;
	}
}

.address__item--mail::before {
	background-image: url('../img/svg/mail.svg');
}

.address__item--phone::before {
	background-image: url('../img/svg/phone2.svg');
}

.address__item--location::before {
	background-image: url('../img/svg/location2.svg');
}

.map-buttons {
	margin: 0 auto;
	padding-bottom: 20px;
}

@media (max-width: 1350px) {
	.address {
		padding-left: 1%;
		padding-right: 1%;
	}
}

@media (max-width: 768px) {
	.address {
		box-sizing: border-box;
		padding-top: 7.5vw;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 13.5vw;
		.close-element {
			@include mobile-close-element;
			top: 6vw;
			right: 6.5vw;
		}
	}

	.address__title {
		padding-left: 5vw;
		padding-bottom: 3vw;
		font-size: $m-title-xl;
		line-height: 11vw;
	}

	.address__manager {
		width: 100%;
		padding: 0 4vw;
		padding-top: 4vw;
		box-sizing: border-box;
	}

	.address__profile {
		padding-left: 5vw;
	}

	.address__name {
		font-size: $m-title-xs;
	}

	.address__profile {
		padding-top: 1vw;
		padding-left: 5vw;
		padding-right: 10vw;
	}

	.address__position {
		font-size: $m-text-m;
		line-height: 7.8vw;
		padding-top: 0;
	}

	.address__list {
		padding-top: 8vw;
		padding-bottom: 1vw;
	}

	.address__item {
		font-size: $m-text-s;
		padding-left: 16vw;
		padding-top: 1vw;
		padding-right: 10vw;
		margin-bottom: 5.5vw;

		&::before {
			width: 9.5vw;
			height: 9.5vw;
			background-size: 9.5vw;
			left: 3.5vw;
			top: 0vw;
		}
	}

	.address__map-wrapper {
		padding-top: 5vw;
		box-sizing: border-box;
		padding: 0 4vw;
	}

	.address__map {
		height: 93vw;
		padding-top: 4vw;
	}
}
