<section class="address print">
  @@include("../close-element/close-element.html")
  <h1 class="address__title visually-hidden">Адрес фотостудии</h1>
  <div class="address__manager">
    <picture class="address__pic">
      <source media="(max-width: 768px)" srcset="./img/evgeny_M.jpg 1x, ./img/evgeny_M@2x.jpg 2x">
      <img src="./img/angelica.jpg" srcset="./img/angelica@2x.jpg 2x" alt="" class="address__photo">
    </picture>
    <div class="address__profile">
      <span class="address__name">Анжелика Аванесова</span>
      <span class="address__position">Руководитель фотостудии</span>
    </div>
  </div>
  <ul class="address__list">
    <li class="address__item address__item--mail">Предложения и вопросы<br class="mobile-br"> вы можете присылать по
      адресу:
      avanesova@boscoonline.ru</li>
    <li class="address__item address__item--phone">Телефон: <b>+7(919)103-04-75</b></li>
    <li class="address__item address__item--location">Наш адрес: Москва,<br class="mobile-br"> 2-я Карачаровская
      улица,<br class="mobile-br"> дом 14 А, строение 1,
      офис 403</li>
  </ul>
  @@include("../maps/address.html")
</section>