<section class="points">
  <h2 class="points__topic-title">Преимущества</h2>
  <div class="points__wrapper">
    <div class="points__item points__item--time">
      <h4 class="points__title">Наименование</h4>
      <span class="points__text">Задача посвящена созданию сервиса отдельной доставки для интернет-магазинов</span>
    </div>
    <div class="points__item points__item--box">
      <h4 class="points__title">Наименование</h4>
      <span class="points__text">Задача посвящена созданию сервиса отдельной доставки для интернет-магазинов
      </span>
    </div>
    <div class="points__item points__item--cup">
      <h4 class="points__title">Наименование</h4>
      <span class="points__text">Задача посвящена созданию сервиса отдельной доставки для интернет-магазинов
      </span>
    </div>
    <div class="points__item points__item--medal">
      <h4 class="points__title">Наименование</h4>
      <span class="points__text">Задача посвящена созданию сервиса отдельной доставки для интернет-магазинов
      </span>
    </div>
  </div>
</section>