<section class="points">
  <h2 class="points__topic-title">Тезисы</h2>
  <div class="points__wrapper">
    <div class="points__item points__item--time">
      <h4 class="points__title">Тезис 1</h4>
      <span class="points__text">Быстро делаем</span>
    </div>
    <div class="points__item points__item--box">
      <h4 class="points__title">Тезис 2</h4>
      <span class="points__text">Много делаем</span>
    </div>
    <div class="points__item points__item--cup">
      <h4 class="points__title">Тезис 3</h4>
      <span class="points__text">Качественно делаем</span>
    </div>
    <div class="points__item points__item--medal">
      <h4 class="points__title">Тезис 4</h4>
      <span class="points__text">Все довольны</span>
    </div>
  </div>
</section>