.main-slider {
  padding-top: 10px;
  position: relative;
  max-height: 410px;

  .slick-dots {
    width: auto;
    bottom: 35px;
    left: 53%;

    li button {
      width: 15px;
      height: 15px;
    }

    .slick-active {
      opacity: 1;
    }
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.3;
    margin: 0 4px;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider__wrapper {
  @include centered;
  position: relative;

  .slick-prev,
  .slick-next {
    width: 17px;
    height: 40px;
    background-image: url('../img/svg/slick-arrow.svg');
    background-repeat: no-repeat;
    z-index: 1500;

    &::before {
      content: '';
    }
  }

  .slick-prev {
    left: 26px;
    top: 210px;
  }

  .slick-next {
    right: 24px;
    top: 191px;
    transform: rotate(180deg);
  }
}

.slide {
  @include centered;
  display: flex !important;
  position: relative;
  color: #ffffff;
}

.slider__picture,
.slider__info {
  width: 50%;
}

.slider__info {
  padding-top: 32px;
  padding-left: 3%;
  padding-right: 8%;
  background-color: #A70033;
  position: relative;
}

.slider__title {
  @include thin44;
}

.slider__link {
  @include fontMuseoLight22;
  color: #ffffff;
  text-decoration: underline;
  display: block;
  margin-top: 80px;
}

@media (max-width: 1720px) {
  .slider__title {
    font-size: 2.5vw;
    line-height: 3.7vw;
  }

  .slider__link {
    font-size: 1.2vw;
  }
}

@media (max-width: 768px) {
  .main-slider {
    max-height: unset;

    .slick-dots {
      width: auto;
      left: 44vw;
      bottom: 4vw;

      li {
        width: 8px;
        height: 8px;
      }

      li button {
        width: 15px;
        height: 15px;
      }

      .slick-active {
        opacity: 1;
      }
    }
  }

  .slider__slide-wrapper {
    font-size: 2.5vw;
    line-height: 3.7vw;
    flex-direction: column;
    position: relative;
  }

  .slider__wrapper .slick-arrow {
    display: none !important;
  }

  .slider__picture,
  .slider__info {
    width: 100%;
  }

  .slider__picture {
    width: 100%;
    position: relative;
  }

  .slider__info {
    box-sizing: border-box;
    padding-top: 4.5vw;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 10vw;
  }

  .slider__title {
    font-size: 7vw;
    line-height: 9.5vw;
  }

  .slider__link {
    margin-top: unset;
    font-size: 4.26vw;
    line-height: 12.5vw;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 2px;
    margin-top: 9vw;
  }
}