<section class="main-slider slider-wrapper">
  <div class="slider__wrapper">
    <div class="slider__slide-wrapper slide">
      <picture class="slider__picture">
        <source media="(max-width: 768px)" type="image/jpg"
          srcset="./img/main-slider/slider_img1_M.jpg, ./img/main-slider/slider_img1_M@2x.jpg 2x">
        <img src="./img/main-slider/slider_img1.png" alt="" class="slider__image">
      </picture>
      <div class="slider__info">
        <h2 class="slider__title">Доставка по Москве<br class="mobile-br">
          и Московской области<br class="mobile-br">
          с примеркой</h2>
        <a href="#" class="slider__link">Подробнее</a>
      </div>
    </div>
    <div class="slider__slide-wrapper slide">
      <picture class="slider__picture">
        <source media="(max-width: 768px)" type="image/jpg"
          srcset="./img/main-slider/slider_img1_M.jpg, ./img/main-slider/slider_img1_M@2x.jpg 2x">
        <img src="./img/main-slider/slider_img1.png" alt="" class="slider__image">
      </picture>
      <div class="slider__info">
        <h2 class="slider__title">Доставка по Москве<br class="mobile-br">
          и Московской области<br class="mobile-br">
          с примеркой</h2>
        <a href="#" class="slider__link">Подробнее</a>
      </div>
    </div>
    <div class="slider__slide-wrapper slide">
      <picture class="slider__picture">
        <source media="(max-width: 768px)" type="image/jpg"
          srcset="./img/main-slider/slider_img1_M.jpg, ./img/main-slider/slider_img1_M@2x.jpg 2x">
        <img src="./img/main-slider/slider_img1.png" alt="" class="slider__image">
      </picture>
      <div class="slider__info">
        <h2 class="slider__title">Доставка по Москве<br class="mobile-br">
          и Московской области<br class="mobile-br">
          с примеркой</h2>
        <a href="#" class="slider__link">Подробнее</a>
      </div>
    </div>
  </div>
</section>