.main-slider {
  padding-top: 10px;
  position: relative;
  max-height: 410px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  width: auto;
  bottom: 35px;
  left: 53%;

  li button {
    width: 15px;
    height: 15px;
  }

  .slick-active {
    opacity: 1;
  }
}

.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.3;
  margin: 0 4px;
}


.slider__wrapper {
  @include centered;
  position: relative;

  .slick-prev,
  .slick-next {
    width: 17px;
    height: 40px;
    background-image: url('../img/svg/slick-arrow.svg');
    background-repeat: no-repeat;
    z-index: 1500;

    &::before {
      content: '';
    }
  }

  .slick-prev {
    left: 26px;
    top: 210px;
  }

  .slick-next {
    right: 24px;
    top: 191px;
    transform: rotate(180deg);
  }
}

.slide {
  @include centered;
  display: flex !important;
  position: relative;
  color: #ffffff;
}

.slider__image,
.slider__info {
  width: 50%;
}

.slider__info {
  padding-top: 32px;
  padding-left: 3%;
  padding-right: 8%;
  background-color: #A70033;
  position: relative;
}

.slider__title {
  @include thin44;
}

.slider__link {
  @include fontMuseoLight22;
  color: #ffffff;
  text-decoration: underline;
  display: block;
  margin-top: 80px;
}

@media (max-width: 1720px) {
  .slider__title {
    font-size: 2.5vw;
    line-height: 3.7vw;
  }

  .slider__link {
    font-size: 1.2vw;
  }
}