<section class="info-block">
  <div class="info-block__item">
    <picture class="info-block__pic">
      <img class="info-block__image" src="./img/delivery_car.jpg" srcset="./img/delivery_car@2x.jpg 2x"
        alt="Пункты выдачи">
      </pictire>
      <h3 class="info-block__title">Доставка с примеркой</h3>
      <p class="info-block__text">Самостоятельно заберем заказы ваших покупателей,
        аккуратно упакуем и доставим по адресу в срок</p>
      <a href="#" class="info-block__link button-more">Подробнее</a>
  </div>
  <div class="info-block__item">
    <pictire class="info-block__pic">
      <img class="info-block__image" src="./img/store1.jpg" srcset="./img/store1@2x.jpg 2x" alt="Упаковка">
      </picture>
      <h3 class="info-block__title">Упаковка</h3>
      <p class="info-block__text">Бережно оформим каждый заказ, предложив различные варианты упаковки, в соответствии с
        габаритами и типом товара</p>
      <a href="#" class="info-block__link button-more">Подробнее</a>
  </div>
</section>