<section class="info-block small-slider">
  <div class="info-block__item">
    <picture class="info-block__pic">
      <source media="(max-width: 768px)" srcset="./img/pvz1_M.jpg 1x, ./img/pvz1_M@2x.jpg 2x">
      <img class="info-block__image" src="./img/pvz1.jpg" srcset="./img/pvz1@2x.jpg 2x" alt="Пункты выдачи">
    </picture>
    <h3 class="info-block__title">Пункты выдачи</h3>
    <p class="info-block__text">Ваши клиенты могут забрать свои заказы из наших пунктов выдачи, расположенных в разных
      районах Москвы</p>
    <a href="" class="info-block__link button-more">Подробнее</a>
  </div>
  <div class="info-block__item">
    <picture class="info-block__pic">
      <source media="(max-width: 768px)" srcset="./img/store1_M.jpg 1x, ./img/store1_M@2x.jpg 2x">
      <img class="info-block__image" src="./img/store1.jpg" srcset="./img/store1@2x.jpg 2x" alt="Упаковка">
    </picture>
    <h3 class="info-block__title">Упаковка</h3>
    <p class="info-block__text">Бережно оформим каждый заказ, предложив различные варианты упаковки, в соответствии с
      габаритами и типом товара</p>
    <a href="" class="info-block__link button-more">Подробнее</a>
  </div>
</section>