.info-block {
  @include centered;
  justify-content: space-between;
  padding-top: 58px;
  padding-bottom: 75px;
}

.info-block__item {
  width: 49%;
  text-align: center;
}

.info-block__pic {
  width: 100%;
  display: block;
}

.info-block__title {
  @include fontMuseolight36;
  padding-top: 30px;
}

.info-block__text {
  @include fontMuseolight18;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5px;
  line-height: 30px;
  padding-bottom: 15px;
}

.info-block__link {
  max-width: 48%;
}

@media (max-width: 768px) {
  .info-block.small-slider {
    padding-top: 9vw;
    padding-bottom: 13vw;

    .slick-dots {
      bottom: 6.5vw;
      left: -0.4vw;

    }
  }

  .info-block__image {
    margin: 0 auto;
    width: 97%;
  }

  .info-block__title {
    padding-top: 4vw;
    font-size: $m-title-s;
  }

  .info-block__text {
    margin-top: 0vw;
    line-height: 7vw;
    padding: 1vw;
    margin-bottom: 3vw;
    font-size: $m-text-m;
  }

  .info-block__link {
    margin: 1vw 0;
    display: block;
    max-width: unset;
    padding: 3.5vw;
    width: 89%;
    align-self: center;
  }

  .info-block__text,
  .info-block__link {
    opacity: 1;

  }

  .slick-slide:not(.slick-current) .info-block__text,
  .slick-slide:not(.slick-current) .info-block__link {
    opacity: 0;
    display: none;
  }

}