<section class="prices">
  @@include("../close-element/close-element.html")
  <h1 class="prices__topic-title">Цены</h1>
  <div class="prices__wrapper">
    <div class="prices__item prices__item--fitting">
      <div class="prices__about prices__block">
        <h2 class="prices__title">Доставка с примеркой</h2>
        <span class="prices__text">Курьер доставит вещи подождет до 20 минут и примет оплату</span>
      </div>
      <div class="prices__price-block prices__block">
        <span class="prices__price">1 490 руб за заказ</span>
        <span class="prices__sub-text">Вместе<br class="mobile-be"> с НДС</span>
      </div>
    </div>
    <div class="prices__item prices__item--delivery-only">
      <div class="prices__about prices__block">
        <h2 class="prices__title">Доставка без примерки</h2>
        <span class="prices__text">Курьер доставит вещи и примет оплату</span>
      </div>
      <div class="prices__price-block prices__block">
        <span class="prices__price">990 руб за заказ</span>
        <span class="prices__sub-text">Вместе<br class="mobile-be"> с НДС</span>
      </div>
    </div>
    <div class="prices__item prices__item--pvz">
      <div class="prices__about prices__block">
        <h2 class="prices__title">Пункт выдачи заказов</h2>
        <span class="prices__text">Мы доставим вещи в один из наших пунктов выдачи</span>
      </div>
      <div class="prices__price-block prices__block">
        <span class="prices__price">490 руб за заказ</span>
        <span class="prices__sub-text">Вместе<br class="mobile-be"> с НДС</span>
      </div>
    </div>
  </div>
</section>