<section class="photos">
  <div class="photos__item">
    <h2 class="photos__title">Съёмка без лица в кадре</h2>
    <ul class="photos__list">
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/no-face1.jpg" srcset="./img/no-face1@2x.jpg"
            alt="Без лица в кадре" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/no-face2.jpg" srcset="./img/no-face2@2x.jpg"
            alt="Без лица в кадре" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/no-face3.jpg" srcset="./img/no-face3@2x.jpg"
            alt="Без лица в кадре" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="../img/no-face4.jpg" srcset="./img/no-face4@2x.jpg"
            alt="Без лица в кадре" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/no-face5.jpg" srcset="./img/no-face5@2x.jpg"
            alt="Без лица в кадре" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/no-face6.jpg" srcset="./img/no-face6@2x.jpg"
            alt="Без лица в кадре" class="photos__img"></picture>
      </li>
    </ul>
  </div>
</section>