.photos {
  @include centered;
  flex-direction: column;
  position: relative;
  padding-top: 50px;
}

.photos__item {
  padding-bottom: 20px;
}

.photos__title {
  @include fontMuseoThin40;
  text-align: center;
  padding-bottom: 35px;
}

.photos__list {
  display: flex;
  justify-content: space-between;
}

.photos__photo {
  position: relative;
  width: 15.2%;
  background: $image-background;
}

.photos__picture {
  width: 100%;
  position: relative;
}

.photos__img {
  width: 100%;
}

/*Планшетная версия: BEGIN*/
@media (min-width: 768px) and (max-width: 1200px) {
  .photos {
    padding-top: 1.8vw;

    .tns-controls,
    .tns-nav,
    .tns-liveregion {
      display: none;
    }

    .tns-outer {
      width: 92%;
      transform: translateX(3%);
    }

    &--last {
      padding-bottom: 8vw;
    }

  }

  .photos__item {
    padding-bottom: 0;
  }

  .photos__title {
    font-size: $t-title-s;
    padding-bottom: 0;
  }

  .photos__photo {
    background-color: transparent;
    padding: 0 0.5vw;
  }  
}