<section class="photos photos--last">
  <div class="photos__item">
    <h2 class="photos__title">Детальная съёмка</h2>
    <ul class="photos__list">
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/details.jpg" srcset="./img/details@2x.jpg"
            alt="Детальная съёмка" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/details2.jpg" srcset="./img/details2@2x.jpg"
            alt="Детальная съёмка" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/details3.jpg" srcset="./img/details3@2x.jpg"
            alt="Детальная съёмка" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="../img/details4.jpg" srcset="./img/details4@2x.jpg"
            alt="Детальная съёмка" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/details5.jpg" srcset="./img/details5@2x.jpg"
            alt="Детальная съёмка" class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/details6.jpg" srcset="./img/details6@2x.jpg"
            alt="Детальная съёмка" class="photos__img"></picture>
      </li>
    </ul>
  </div>
</section>