<section class="photos">
  <div class="photos__item">
    <h2 class="photos__title">На манекене</h2>
    <ul class="photos__list">
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/model1.jpg" srcset="./img/model1@2x.jpg" alt="На манекене"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/model2.jpg" srcset="./img/model2@2x.jpg" alt="На манекене"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/model3.jpg" srcset="./img/model3@2x.jpg" alt="На манекене"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="../img/model4.jpg" srcset="./img/model4@2x.jpg" alt="На манекене"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/model5.jpg" srcset="./img/model5@2x.jpg" alt="На манекене"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/model6.jpg" srcset="./img/model6@2x.jpg" alt="На манекене"
            class="photos__img"></picture>
      </li>
    </ul>
  </div>
</section>