<section class="photos">
  <div class="photos__item">
    <h2 class="photos__title">Съёмка с лицом в кадре</h2>
    <ul class="photos__list">
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/face1.jpg" srcset="./img/face1@2x.jpg" alt="Лицо в кадре"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/face2.jpg" srcset="./img/face2@2x.jpg" alt="Лицо в кадре"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/face3.jpg" srcset="./img/face3@2x.jpg" alt="Лицо в кадре"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="../img/face4.jpg" srcset="./img/face4@2x.jpg" alt="Лицо в кадре"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/face5.jpg" srcset="./img/face5@2x.jpg" alt="Лицо в кадре"
            class="photos__img"></picture>
      </li>
      <li class="photos__photo">
        <picture class="photos__picture"><img src="./img/face6.jpg" srcset="./img/face6@2x.jpg" alt="Лицо в кадре"
            class="photos__img"></picture>
      </li>
    </ul>
  </div>
</section>