body {
  @include light17;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

.container {
  @include container();
  @include sm(max-width, rem(510));
  @include md(max-width, rem(690));
  @include lg(max-width, rem(930));
  @include xl(max-width, rem(1110));
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

c {
  display: none;
}

.mobile-br {
  display: none;
}

.desktop-br {
  display: block;
}

picture img {
  display: block;
  width: 100%;
}

/*Video: BEGIN*/

.video--popup {
  display: flex !important;
  align-items: center;
  height: 100vh;

  .video-js {
    width: 22vw !important;
    height: auto !important;
  }

  .about__poster {
    width: unset;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .video--popup {
    .video-js {
      width: 60vw !important;
    }
  }
}

@media(max-width: 768px) {
  .video--popup {
    .video-js {
      width: 80vw !important;
    }
  }
}


/*Video: END*/

@media (max-width: 768px) {
  .mobile-br {
    display: block;
  }

  .desktop-br {
    display: none;
  }

}

/*Всплывающие блоки*/

.fade-block {
  opacity: 0;
  position: relative;
  top: 40px;
  transition: all 1s ease-in-out;

  &--visible {
    opacity: 1;
    top: 0;
  }
}